/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* general styles */
:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%);
	--greyish-blue: hsl(246, 25%, 77%);
}

/* background styles */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins", sans-serif;
	background: center / contain url(../images/bg-intro-mobile.png) no-repeat
		var(--red);
}

/* container styles */
.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 85%;
	/* width: 650px; */
	/* border: 1px solid blue; */
}

.container__item {
	flex: 1 1 325px;
	text-align: center;
	/* border: 1px solid blue; */
}

/* header */
.header {
	color: white;
	margin: 4.5rem 0 4.5rem;
}

.header__heading {
	line-height: 1.2;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
