/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* general styles */
:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%);
	--greyish-blue: hsl(246, 25%, 77%);
}

/* background styles */
body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins", sans-serif;
	background: center / contain url(../images/bg-intro-mobile.png) no-repeat
		var(--red);
}

/* container styles */
.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 85%;
	/* width: 650px; */
	/* border: 1px solid blue; */
	margin: 4.5rem 0;
}

.container__item {
	flex: 1 1 325px;
	text-align: center;
	/* border: 1px solid blue; */
}

/* header */
.header {
	color: white;
	margin: 0 0 4.5rem;
}

.header__heading {
	line-height: 1.2;
}

/* content */
.promo__container,
.main__form {
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem hsl(0, 100%, 30%, 0.3);
}

/* promo */
.promo__container {
	color: white;
	background: var(--blue);
	padding: 1rem 3rem;
	margin-bottom: 1.5rem;
}

/* form */
.main__form {
	background-color: white;
	padding: 2rem 0;
}

.main__input,
.form__btn {
	inline-size: 90%;
	padding: 0.75rem 1rem;
	margin-bottom: 1.5rem;
	border-radius: 0.3125rem;
}

/* labels */
/* visually hide the labels only */
.screen-reader {
	border: 0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* inputs */

.main__input {
	border: 1px solid var(--greyish-blue);
}

.main__input::placeholder {
	font-weight: 700;
}

.main__input.invalid {
	background: 95% / 25px url(../images/icon-error.svg) no-repeat;
	border: 1px solid var(--red);
}

input[type="email"].invalid::placeholder {
	color: var(--red);
	font-weight: 700;
}

.error-message {
	display: block;
	color: var(--red);
	font-size: 0.625rem;
	font-weight: 700;
	text-align: right;
	inline-size: 90%;
	margin: 0 auto 1rem;
}

.error-message.hidden {
	display: none;
}
/* button */
.form__btn {
	color: white;
	background-color: var(--green);
	text-transform: uppercase;
	border: none;
	box-shadow: 0 2px hsl(154, 59%, 35%);
}

/* terms & conditions */
.form__text {
	color: var(--greyish-blue);
	font-size: 0.75rem;
	font-weight: 600;
	width: 85%;
	margin: 0 auto;
}

.form__link {
	color: var(--red);
	text-decoration: none;
}

/* footer */
/* footer {
	position: absolute;
	bottom: 0;
} */

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Desktop Styles */
@media only screen and (min-width: 764px) {
	/* general styles */
	body {
		justify-content: center;
		background: center / contain url(../images/bg-intro-desktop.png) no-repeat
			var(--red);
	}

	.container {
		max-inline-size: 65%;
	}

	/* header */
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		margin: 0;
	}

	.header__heading {
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}
}
